version: '3.9'

services:
  zookeeper:
    image: bitnami/zookeeper
    restart: always
    ports:
      - "2181:2181"
    volumes:
      - "zookeeper_data:/bitnami"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    network:
     - snappnetwork
  kafka:
    image: bitnami/kafka
    ports:
      - "9092:9092"
    restart: always
    volumes:
      - "kafka_data:/bitnami"
    environment:
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
    depends_on:
      - zookeeper
    network:
     - snappnetwork 
  # Database Container spec.
  sql:
    container_name: snapp-food-sql
    image: snapp-food-sql:v1.0.7
    user: root
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: 'Pa55w0rd<db0562096>'
      TZ: 'Asia/Tehran'
    build:
      context: ./DockerSqlServerDB
      dockerfile: DockerFile_SQL
    ports:
      - 1633:1433
    network:
     - snappnetwork
    volumes:
      - /root/sqlserver/data:/var/opt/mssql/data
      - /root/sqlserver/log:/var/opt/mssql/log
      - /root/sqlserver/secrets:/var/opt/mssql/secrets

  # Command API container spec.
  api-command:
    container_name: snapp-food-api-command
    image: snapp-food-api:v1.0.34
    build:
      context: ./Order.Command.Api
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:5555
    ports:
      - 5555:5555
    depends_on:
      - sql
    links:
     - sql
    network:
     - snappnetwork
    volumes:
     - /root/command-api/App_Data:/app/App_Data
     - /root/command-api/wwwroot:/app/wwwroot
  # Query API container spec.
  api-query:
    container_name: snapp-food-api-query
    image: snapp-food-api:v1.0.34
    build:
      context: ./Order.Query.Api
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:5556
    ports:
      - 5555:5556
    depends_on:
      - sql
    links:
     - sql
    network:
     - snappnetwork
    volumes:
     - /root/query-api/App_Data:/app/App_Data
     - /root/query-api/wwwroot:/app/wwwroot
volumes:
  zookeeper_data:
    driver: local
  kafka_data:
    driver: local
   
networks:
  default:
    external:
      name: snappnetwork
